ody {

    color: rgb(3, 79, 79);
    
    }
    .jumbotron {
      background-image: url("../images/trophy.png");
      background-size: 90;
      width: 2000px;
      height: 480px;
      text-align: left;
    }