<!DOCTYPE html>
<html lang = 'eng'>

<head>
    <meta charset = 'UTF-8'>
    <title>About Us</title>
    
    <link rel="icon" type="image/x-icon" href="/static/pictures/favicon.png">


    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/logic.js"></script>

   
    

  </head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">FIFA World Cup Predictions and Analysis</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/census">Census</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/prediction">Prediction Model</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/writeup">Written Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                  </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data info</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/sourcedata">Source Data</a>
                  <a class="dropdown-item" href="/workscited">Works Cited</a>
                </div>
              </li>

            </ul>
          </div>
          
        </div>
      </nav>
      <br>
      <br>

</body>
<div class="container-fluid">
    <div class="card-deck mb-4">
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Matt Hallman</h3>
      <div class="card">
        <img class="card-img-top" width="300" height="400" src="../static/pictures/brandilyn_image.JPG" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body ">
        <p class="lead">Brandilyn currently serves as Learning & Development Compliance and Risk Specialist at Happy State Bank.
          She has experience in banking, training and development, adult education, and upon completion of the Data Science boot camp will have a certificate in Data Science.
          Brandilyn loves learning new things and enjoys spending time with her family, including her husband, 2 children, and 2 fur babies, listening to music and attending concerts.</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://www.linkedin.com/in/brandilynhall88/"style="color:#2F71B1">LinkedIn</a> 
        <br>
        <a class="lead card-link" href="https://github.com/Brandilyn0506"style="color:#2F71B1">Github</a>
      </div>
    </div>
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Jackson</h3>
      <div class="card">
        <img class="card-img-top" width="300" height="400"  src="../static/pictures/elyssa_image.jpg" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body ">
        <p class="lead">Elyssa currently works as a property tax consultant specializing in business personal property. 
          She has experience working as a junior Filemaker developer and is about to complete a six month data science boot camp with SMU.
          In her free time, she enjoys taking care of her son and playing videogames.</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://www.linkedin.com/in/elyssa-irizarry-520b68224/"style="color:#2F71B1">LinkedIn</a> 
        <br>
        <a class="lead card-link" href="https://github.com/EI-github/"style="color:#2F71B1">Github</a>
      </div>
    </div>
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Tommie</h3>
      <div class="card">
        <img class="card-img-top" width="300" height="400"  src="../static/pictures/megan_image.JPG" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body ">
        <p class="lead">Megan is excited to pursue a new role in data analytics to apply the skills gained from the SMU Data Boot Camp. Her professional history includes roles as an educator and program coordinator. In her spare time she loves to travel or enjoy live music.</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://www.linkedin.com/in/megan-adams-a49654a1/"style="color:#2F71B1">LinkedIn</a> 
        <br>
        <a class="lead card-link" href="https://github.com/adamsme21"style="color:#2F71B1">Github</a>
      </div>
    </div>
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Peija</h3>
      <div class="card">
        <img class="card-img-top" width="300" height="400"  src="../static/pictures/yvonne_image.JPG" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body ">
        <p class="lead">Yvonne is currently a Supply Chain Analyst continuing to build her skillset with the SMU Data Science Bootcamp. She is eager to
          apply what she has learned to help create the most optimal solutions at Bell Flight. Yvonne is an avid runner and in her free time trains for her next marathon.</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://www.linkedin.com/in/martinezyvonne/"style="color:#2F71B1">LinkedIn</a> 
        <br>
        <a class="lead card-link" href="https://github.com/ymartinez1919/SMU-DATA-HOMEWORK"style="color:#2F71B1">Github</a>
      </div>
    </div>
        </div>
      </div>

<div class="container">
  <div class="row">
</div>

</html>